#projects {
    padding: 50px 0;
    width: 100%;
    height: 100vh;
    color: #000000;
    background-color: aliceblue;
    position: relative;
}

.projects-box{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
    padding-top: 45px;
    margin: 0 90px;
}

h2 {
    margin-bottom: 50px;
}

.projects-article {
    width: 470px;
    height: 370px;    
    align-items: center;
    background-color: #ffffff;
    margin: 0px 40px 50px;
    box-shadow: 0 20px 47px -30px rgba(0,0,0,.44);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.projects-article::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: 0;
    background-color: #756aee;
    transition: all 1s;
}

.projects-article:hover::after {
    opacity: .7;
}

.projects-article:hover {
    transform: scale(1.1);
}

.projects-article-cont {
    width: 100%;
    height: 100%;
    margin-top: -20px;
    padding-top: 80px;
    opacity: 0;
    transition: all 1s;
    color: #fff;
}

.projects-article-cont:hover {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.myWeb {
    background-image: url(../img/myWeb.jpg);
}

.soon {
    background-image: url(../img/onlinesoon.gif);
}

.rhino {
    background-image: url(../img/rhino1.jpg);
}

/* ----------------------------------------  lightbox  ---------------------------------------------------------------- */

.lt_backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .0;
    filter:alpha(opacity=0);
    z-index: 50;
    display: none;
}

.lt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 700px;
    display: block;
    overflow: hidden;
    background: #fff;
    z-index: 51;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #555;
    display: none;
}

.lt_close {
    float: right;
    margin-right: 6px;
    cursor: pointer;
    color: #756aee;
}

.lt_container{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
}

.lt_slide img{
    width: 100%;
    height: 100%;
}

#lt_Slider{
    width: 820px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.lt_slides {
    display: block;
    width: 4100px;
    height: 600px;
    margin: 0;
    padding: 0;
}

.lt_slide{
    float: left;
    width: 800px;
    height: 600px;
    margin: 0 10px;
}

.lt_ctrl_bt{
    font-family: Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.lt_prev{
    position: absolute;
    top: 50%;
    left: 15px;
    cursor: pointer;
    z-index: 2;
    color: #756aee;
}

.lt_next{
    top: 50%;
    position: absolute;
    right: 15px;
    cursor: pointer;
    z-index: 2;
    color: #756aee;
}
